@model LabTestesOnline.Models.Tecnico

@{
    ViewData["Title"] = "Details";
}

<br>
<h1>Detalhes do Técnico</h1>
<hr style="border: 1px solid black;">
<br>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
         Data de Nascimento
        </dt>
        <dd class = "col-sm-10">  
             @Html.FormatValue(Model.DataNascimento, "{0: yyyy/MM/dd}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroAnaliseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroAnaliseId)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar Técnico</a> |
    <a asp-action="Index">Voltar Atrás</a>
</div>
