@model LabTestesOnline.Models.Teste

@{
    ViewData["Title"] = "Agendar";
 
}

<br>
<h1>Agendar</h1>
<hr style="border: 1px solid black;">
<br>

    <div class="col-md-8">
        <form asp-action="Agendar">
            <input type="hidden" asp-for="Id"/>

 <dl class="row">
        <dt class = "col-sm-4">
            Tipo de Teste
        </dt>
        <dd class = "col-sm-8">
         @Html.DisplayFor(modelItem => Model.TipoTeste)
        </dd>
        <dt class = "col-sm-4">
            Data de Início
        </dt>
        <dd class = "col-sm-8">
           @Html.DisplayFor(modelItem => Model.DataInicio)
        </dd>
        <dt class = "col-sm-4">
            Data Final
        </dt>
        <dd class = "col-sm-8">
              @Html.DisplayFor(modelItem => Model.DataFinal)
        </dd>
</dl>     

 @Html.HiddenFor(model => model.TipoTeste)
 @Html.HiddenFor(model => model.DataInicio)
 @Html.HiddenFor(model => model.DataFinal)
 @Html.HiddenFor(model => model.ClienteId)
 @Html.HiddenFor(model => model.CentroAnaliseId)
 @Html.HiddenFor(model => model.TecnicoResponsavelId)

@*
    <input type="hidden" asp-for="TipoTeste" value='@ViewData["TipoTeste"]' />
    <input type="hidden" asp-for="DataInicio" value = '@ViewData["DataInicio"]' />
    <input type="hidden" asp-for="DataFinal" value = '@ViewData["DataFinal"]'/> 
    <input type="hidden" asp-for="ClienteId"value= '@ViewData["ClienteId"]' />
    <input type="hidden" asp-for="CentroAnaliseId" value = '@ViewData["CentroAnaliseId"]' />
    <input type="hidden" asp-for="TecnicoResponsavelId" value = '@ViewData["TecnicoResponsavelId"]' /> 
*@

    <input type="hidden" asp-for="Estado"  value="true"/>


    <div class="row">
            <div class="form-group mr-5">
                 <input type="submit" value="Submeter" class="btn btn-primary" />
            </div>
             <div>
                 <a  asp-action="PossiveisAgendamentos" class="btn btn-dark">Voltar Atrás</a>
            </div>
            </form>    
  
    </div>
   </div>
